#ignore
*.swp
*/.htaccess
*/index.html
index.php
system/*
application/controllers/*
application/cache/*
application/config/*
application/errors/*
application/hooks/*
application/language/*
application/logs/*
application/third_party/*
application/helpers/*
application/models/*
application/views/*

#except
!application/config/syslog.php
